<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Como crear un menu despegable tipo acordeon con jQuery</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fuentes de Google -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- Iconos -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="../Style/fissal.css" rel="stylesheet" />
</head>
<body>
    <ul id="accordion" class="accordion">
        <li>
            <div class="link"><i class="fa fa-paint-brush"></i>Diseño web<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="#">Photoshop</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">Maquetacion web</a></li>
            </ul>
        </li>
        <li>
            <div class="link"><i class="fa fa-code"></i>Desarrollo front-end<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="#">Javascript</a></li>
                <li><a href="#">jQuery</a></li>
                <li><a href="#">Frameworks javascript</a></li>
            </ul>
        </li>
    </ul>
    <script src="../Script/jquery.min.js"></script>
    <script src="../Script/main.js"></script>
   
</body>
</html>
