<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Como crear un menu despegable tipo acordeon con jQuery</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../Style/bootstrap.css" rel="stylesheet" />
    <link href="../Style/bootstrap-responsive.css" rel="stylesheet" />
    
</head>
<body>
    <div class="btn-group" style="padding:5px 5px;">
        <button class="btn">Nuevo</button>
        <button class="btn">Editar</button>
        <button class="btn">Eliminar</button>
    </div>
    <script src="../Script/bootstrap.js"></script>
    <script src="../Script/bootstrap.min.js"></script>
</body>
</html>
